@import "_variables.scss";

@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
	background-image: url("@/assets/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

@media (min-width: 500px) {
	body {
		background-image: none;
		color: #000;
	}
}
